@model Pizza.ViewModels.ProductViewModel

<form asp-action="SaveChanging" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <input asp-for="ProductId" type="hidden" value="@Model.ProductId">
    <label asp-for="Name"></label>
    <input type="text" name="Name" value="@Model.Name" />
    <label asp-for="Category"></label>
    <select type="text" name="Category">
        @if (Model.Category == "Pizza")
        {
            <option selected value="Pizza">Пицца</option>
        }
        else
        {
            <option value="Pizza">Пицца</option>
        }
        @if (Model.Category == "Drink")
        {
            <option selected value="Drink">Напиток</option>
        }
        else
        {
            <option value="Drink">Напиток</option>
        }
        @if (Model.Category == "Snack")
        {
            <option selected value="Snack">Закуска</option>
        }
        else
        {
            <option value="Snack">Закуска</option>
        }
        @if (Model.Category == "Salad")
        {
            <option selected value="Salad">Салат</option>
        }
        else
        {
            <option value="Salad">Салат</option>
        }
        @if (Model.Category == "Kombo")
        {
            <option selected value="Kombo">Комбо-набор</option>
        }
        else
        {
            <option value="Kombo">Комбо-набор</option>
        }
    </select>
    <label asp-for="Description"></label>
    <input type="text" name="Description" value="@Model.Description" />
    <label asp-for="Price"></label>
    <input type="text" name="Price" value="@Model.Price" />
    <label>Изображение</label>
    <input type="file" name="Image" />
    <input type="submit" value="Применить" />
</form>