<h2>Панель администратора</h2>
<div class="admin-panel">
    <a asp-controller="Admin" asp-action="ProductsList" class="products-edit-link animated-bottom-border">Редактирование продуктов</a>
    <a asp-controller="Admin" asp-action="RoleManagement" class="role-management-link animated-bottom-border">Управление ролями</a>
    <a asp-controller="Account" asp-action="Profile" class="create-or-edit-product-back-link back-link">Назад</a>
</div>