<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <img src="#" alt="" class="header__logo" />
        <h1 class="header__title"><a asp-controller="Home" asp-action="Index">Pizza</a></h1>
        <div class="header__login">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Profile" class="header__account-name animated-bottom-border">@User.Identity.Name</a>
                <form method="post" asp-controller="Account" asp-action="Logout" class="logout-form animated-bottom-border">
                    <input type="submit" value="Выход" class="logout-form__button animated-bottom-border"/>
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="header__login-link animated-bottom-border">Вход</a><br />
                <a asp-controller="Account" asp-action="Register" class="header__reg-link animated-bottom-border">Регистрация</a>
            }
        </div>
    </header>
    <main role="main" class="main">
        @RenderBody()
    </main>    
</body>
</html>
