<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <img src="#" alt="" class="header__logo" />
        <h1 class="header__title">Pizza</h1>
        <div class="header__login">
            @if (User.Identity.IsAuthenticated)
            {
                <p>@User.Identity.Name</p>

                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Выход" />
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Вход</a>
                <a asp-controller="Account" asp-action="Register">Регистрация</a>
            }
        </div>
    </header>
    <main role="main" class="main">
        @RenderBody()
    </main>
    <script src="~/js/addToCart.js"></script>
    <script src="~/js/deleteFromCartAndMakeOrder.js"></script>
</body>
</html>
