<h2>Список заказов</h2>
<div class="order-list">
    @await Component.InvokeAsync("OrderList")
</div>
<a asp-controller="Account" asp-action="Profile" class="order-list-back-link back-link">Назад</a>
<script src="~/js/deleteOrder.js"></script>