@model (User, bool)

<div class="profile">
    <h2>Личный кабинет</h2>
    <span>Здравствуйте, @Model.Item1.UserName</span>

    <a asp-controller="Account" asp-action="OrderList" class="account-order-list-link animated-bottom-border">К списоку заказов</a>

    @if (Model.Item2)
    {
        <a asp-controller="Admin" asp-action="Index" class="account-admin-panel-link animated-bottom-border">Перейти в панель администратора</a>
    }
</div>